<div class ="container">
  <% if notice.nil? ==false %>
  <div class="alert alert-success" role="alert">
    <p class="flash"><%= notice %><%= alert %></p>
  </div>
  <% end %>

  <h1>Top#index</h1>

  <%# ログイン＆アウト時のフラッシュメッセージ %>





  <%= link_to "wall", walls_path %>



</div>
