// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui.form {
  margin-top: 50px;
}

.msg.send.buttom{
  margin-top: 15px;
}

.content{
  margin-top: 40px;
}

.item {
  margin-top: 15px;
}
