// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .alert {
    margin-top: 30px;
  }

  // .jumbotron { background: url("app/assets/images/NY.jpg") center no-repeat; background-size: cover;}
  // .jumbotron { background-image: url("app/assets/images/NY.jpg") center no-repeat; background-size: cover;}
  // .jumbotron { background-image: url(NY.jpg) center no-repeat; background-size: cover;}

  // TODO ろーかるではうごく
  // .jumbotron { background: url(NY.jpg) center no-repeat; background-size: cover;}

  // .jumbotron {
    // background-image: image-url(NY.jpg) center no-repeat;
    // background-size: cover;
    // min-height: 100%;
    // margin-bottom: 0px;
  // }

  .jumbotron {
    background: url(NY.jpg) center no-repeat;
    background-size: cover;
    min-height: 100%;
    margin-bottom: 0px;
  }


  h1 {
    color: #211917;
  }

  h2 {
    color: #211917;
  }
